{% extends "home/base.html" %}
{% block content %}

	<h3 class=" text-success d-flex justify-content-center col-lg-8 font-weight-bold ">Choose your product</h3>
	
            
            {% for product in products %}
            <div class="product col-lg-10 portfolio-item d-flex justify-content-center">
                
                <div class="text-center col-lg-4">
                    <img class="w-100 h-200 mx-auto justify-content-center rounded" src="{{ product.img_file.url }}" alt="{{MEDIA_URL}}{{ product.img_name}}">
                    <h4 class="font-weight-bold">{{ product.img_name }}</h4>
                </div>
                <div class="col-sm-5">
                    <p class="">{{ product.description }}</p>
                </div> 
                
            </div>
            {% endfor %}

            

{% endblock content %}